<style>
body {
  background-color: light-blue;
}

h1 {
  font-family: impact;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

ul {
	list-style-type: none;
}
li {
	position: center;
	display: inline;
	padding: 10px;

}

</style>
